body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333; /* Couleur de fond */
}

.container {
    height: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening {
    position: relative;
    animation: fadeOut 2s ease-in-out forwards;
}

.opening-image {
    width: 300%;
    height: auto;
}

.sleep-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: Arial, sans-serif;
    opacity: 1;
    animation: fadeOut 2s ease-in-out 2s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-100%); }
}
